/* Default universal Css for layouts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* *::after *::before {
    box-sizing: border-box;
}
:root {
    --Appletest: #552432;
    --custom-background: #d1e7eb;
    --custom-primary-color: #c770ac;
    --custom-secondary-color: #76c995;
    --custom--secondary-heavy-color: #55af77;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --custom-danger: #ff0505;
    --ff-poppins: "Poppins", san-serif;
    font-size: 16px;
}

body {
    background: #f8f9fd;
    margin: 0;
    padding: 0;
    font-family: var(--ff-poppins);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background-color: var(--custom-secondary-color);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--custom-primary-color);
}

/* Css for Login Screen */

.main,
.login--page {
    width: 100%;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.login--container {
    width: 25em;
    max-height: auto;
    min-height: 20em;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* align-self: center; */
    padding: 1rem;
}
.login--form--container {
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
}

.login--container h4 {
    text-align: center;
    color: var(--custom-primary-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6rem;
}
.login--container h4::after {
    content: "Monitor";
    color: var(--custom-secondary-color);
}

.login--container input {
    -webkit-appearance: none;
    border: none;
    color: var(--custom-primary-color);
    width: min(220px,100%);
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.login--container input::placeholder {
    color: var(--custom-primary-color);
    font-family: var(--ff-poppins);
}
.login--container button {
    margin: auto;
    margin-top: 1.5rem;
    background-color: #f7f2f2;
    color: #000000;
    width: 10rem;
    border: none;
    border-radius: 15px;
}

/* sidebar Css */

.main--content--holder {
    margin-left: 5rem;

    padding: 1rem;
}
.main--content--holder span:first {
    font-family: var(--ff-poppins);
}

/* #f5f5f5 */

.sidebar--navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar--nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav--item {
    width: 100%;
}
.nav--item:last-child {
    margin-top: auto;
}

.nav--link {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 4rem;
    color: var(--custom-primary-color);
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}
.nav--link:hover {
    filter: grayscale(0%) opacity(1);
    color: var(--custom-primary-color);
    background-color: var(--bg-secondary);
}
.title,
.user--name,
.user--role {
    display: none;
    margin-left: 1rem;
}
.nav--link svg {
    min-width: 1rem;
    max-width: 2rem;
    margin: 0 1.5rem;
    color: var(--custom-primary-color);
    transition: 600ms;
}
.nav--link--svg {
    max-width: 1rem;
}
.nav--logo {
    font-weight: bold;
    text-transform: uppercase;
    /* margin-bottom: 1rem; */
    text-align: center;
    color: var(--custom-primary-color);
    background-color: var(--bg-secondary);
    font-size: 1rem;
    width: 100%;
}

.nav--user {
    font-weight: bold;
    /* display: flex;
    flex-direction: column; */
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
}
.nav--logo svg {
    transform: rotate(0deg);
    transition: transform 600ms;
}

.sidebar--navbar:hover .nav--logo svg {
    transform: rotate(180deg);
}
.user--name {
    font-size: 1rem;
}
.user--role {
    color: var(--custom--secondary-heavy-color);
}
.nav--logo .title::after {
    content: "monitor";
    color: var(--custom-secondary-color);
    text-transform: uppercase;
}

/* .sidebar--navbar:hover .title{
    display: inline;
} */

@media only screen and (min-width: 600px) {
    .sidebar--navbar:hover {
        width: 16rem;
        z-index: 1;
    }
    .sidebar--navbar:hover .title,
    .sidebar--navbar:hover .user--name,
    .sidebar--navbar:hover .user--role {
        display: inline;
        transition: opacity 600ms;
    }

    .sidebar--navbar:hover .nav--user {
        height: auto;
    }

    .nav--user {
        height: 0;
    }

    .sidebar--navbar {
        width: 5rem;
        top: 0;
        height: 100vh;
    }
    /* .sidebar--navbar:hover .nav--logo{
        border-bottom: 1px solid var(--custom--secondary-heavy-color);

    } */
    .nav--link svg {
        max-width: 2rem;
    }
    .nav--link--user {
        display: flex;
        /* padding-top: .4rem; */
        flex-direction: column;
        justify-content: center;
    }

    .ap--live--table {
        font-size: 0.7rem;
    }
    .piechart--container {
        margin-right: 2rem;
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar--navbar {
        top: 0;
        width: 100vw;
        z-index: 1;
        height: 5rem;
    }

    .ap--live--table {
        font-size: auto;
    }
    .manage--user--list {
        font-size: 1rem;
    }
    .nav--logo,
    .nav--user {
        display: none;
    }
    .user--table span {
        display: block;
    }
    .navbar--nav {
        flex-direction: row;
    }

    .nav--link {
        justify-content: center;
    }
    .main--content--holder {
        margin-top: 5rem;
        margin-left: 0;
    }
    .nav--link svg {
        max-width: 1rem;
    }
    .charts {
        width: 100%;
    }
}
@media only screen and (max-width: 1000px) {
    .table--container {
        margin-top: 1rem;
    }
    /* .ap--live--table {
        font-size: 0.5rem;
    }
    .manage--user--list{
        font-size: 0.5rem;
        transition: font-size 600ms ease;
    } */
    .table--hide--column {
        display: none;
    }
    .report--button--container {
        margin-top: 1rem;
    }

    .dashboard_table_body tr td:nth-child(1) {
        display: none;
    }
    .piechart--container {
        margin: auto;
    }
    .offlinetable--main--container {
        margin: auto;
    }
}
/* Dashboard */

/* start of 3 status */
.offline--aps--table {
    border: 1px solid black;
    max-height: 180px;
    max-width: 95%;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    -webkit-overflow-scrolling: touch;
}
.offline--aps--header {
    background-color: #d74c4c;

    color: white;
}
.offline--aps--table table {
    margin: auto;
    width: 100%;
    overflow: hidden;
    font-size: 0.635rem;
}
.offline--aps--table table td.text {
    overflow: hidden;
    display: inline-block;
    /* word-break: break-word; */
    /* width: 100%; */
    text-overflow: ellipsis;
    white-space: nowrap;
}
.offline--aps--table::-webkit-scrollbar {
    width: 0.25rem;
}
.offline--aps--table::-webkit-scrollbar-track {
    background-color: var(--custom-secondary-color);
}
.offline--aps--table::-webkit-scrollbar-thumb {
    background-color: var(--custom-primary-color);
}
.dashboard--content {
    padding-left: 0.6rem;
    width: 100%;
}
.dashboard--ap--stats {
    display: flex;
    overflow: hidden;
    text-align: center;
    height: 80px;
    margin-top: 1.5rem;
}
.dashboard--table {
    width: 100%;
    background: #ffffff;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    /* text-align: center; */
    padding: 1rem;
}
.dashboard--table table {
    font-size: 0.8rem;
    text-align: center;
    font-family: var(--ff-poppins);
    /* color: red; */
}
.dashboard--table span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: var(--custom-primary-color);
}

.dashboard--table table > * {
    font-weight: lighter;
}

.dashboard--ap--stats div {
    display: flex;
    overflow: hidden;
    text-transform: uppercase;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.dashboard--ap--stats div span:first-child {
    padding: 0.7rem 0 0rem 0;
}
.dashboard--ap--stats div span:last-child {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}
.dashboard--ap--stats .online--ap {
    background-color: #68dc93;
}

.dashboard--ap--stats .boarding--ap {
    background-color: #e3e56e;
}
.dashboard--ap--stats .offline--ap {
    background-color: #d74c4c;
}
.dashboard--subtitle {
    font-size: 0.6rem;
}

/* end of 3 flex  */

/* Content */
.piechart--container {
    background: #ffffff;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding-top: 1rem;
    text-align: center;
    min-height: 290px;
    width: 310px;
}
/* .offlinetable--main--container{
    width: 100%;
} */
.offlinetable--container {
    background: #ffffff;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
    max-height: 310px;
    min-height: 290px;
    min-width: 100%;
    max-width: auto;
    padding: 1.2rem 0;
    padding-top: 1rem;
}
.offlinetable--container span {
    /* color: #D74C4C; */
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 800;
}
.piechart--container span {
    /* color: var(--custom-primary-color); */
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 800;
}
.ap--live--table {
    width: auto;
    margin: auto;
    /* border: 1px solid; */
}

.table--container {
    background: #ffffff;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    /* display: flex; */
    text-align: center;
    /* flex-direction: column; */
    /* text-align: center; */
    /* justify-content: center; */

    /* border: 1px solid black; */
}

.ap--table--container {
    height: 26rem;
    overflow-y: scroll;
    width: 100%;
}
/* .ap--table--container::-webkit-scrollbar {
    width: 0.25rem;
}
.ap--table--container::-webkit-scrollbar-track {
    /* background-color: var(--custom-secondary-color); */
/* } */
*/ .ap--table--container::-webkit-scrollbar-thumb {
    background-color: var(--custom-primary-color);
}
/* access point filter */

.access--point--dashboard {
    background: #ffffff;
    margin: auto;
    /* margin-left: 0.2rem; */
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 1.5rem;
    /* display: flex;
    flex-grow: 1;
    overflow: hidden; */
}

.filter--container h6 {
    text-align: center;
    color: var(--custom-primary-color);
}
.filter--container label {
    color: var(--custom--secondary-heavy-color);
    font-size: 0.9rem;
    font-weight: 600;
}
.filter--container h5 {
    text-align: center;
    color: var(--custom-primary-color);
}
.charts {
    width: auto;
    /* overflow: hidden; */
}

/* manange user */
.manage--dashboard {
    background: #ffffff;
    margin: auto;
    margin-top: 1.5rem;
    /* margin-left: 0.2rem; */
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 1rem 1rem;
}
.manage--dashboard > span {
    color: var(--custom-primary-color);
    font-size: 1.5rem;
}

.manage--user--list {
    margin: 1rem;
    /* font-size: ; */
}

.user--table {
    text-align: center;
    font-family: var(--ff-poppins);
}

/* .user--table td {
    width: 100%;
} */
.user--table span {
    width: 100%;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    margin: 0 0.2rem;
    height: auto;
}

.user--table span a {
    text-decoration: none;
    color: white;
}

.user--table .delete {
    background-color: red;
    color: white;
}

.user--table .modify {
    background-color: green;
    color: white;
}

.create--user--div {
    display: flex;
    height: auto;
    /* border: 1px solid black; */
}
.create--user--div span {
    color: var(--custom-primary-color);
    font-size: 1.5rem;
}
.create--user--div a {
    margin-left: auto;
}

/* first login */

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .card {
    width: 25em;
    margin: auto;
}
.hero .card .f--title {
    color: var(--custom-primary-color);
    font-size: 1.6rem;
    padding-top: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.hero .card .f--title::after {
    content: "Monitor";
    color: var(--custom-secondary-color);
}
.hero .card .card-body input {
    margin: 1.2rem;
    color: var(--custom-primary-color);
    width: 80%;
    border: none;
    border-bottom: 1px solid var(--custom-primary-color);
    -webkit-appearance: none;
}

.hero .card .card-body input::placeholder {
    color: var(--custom-primary-color);
}

.hero .card .card-body input:focus {
    outline: none;
}

.hero .card .card-body button {
    width: 60%;
    margin-left: 19%;
}

.report--container {
    background: #ffffff;
    /* margin: auto; */
    margin-top: 1.5rem;
    /* margin-left: 0.2rem; */
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 1rem 1rem;
}
.report--datatable {
    margin-top: 2rem;
}
.report--table {
    width: 100%;
}

.canvas--container {
    width: 80%;
}
.canvas {
    /* border: 1px solid black; */

    max-width: 600px;
    min-width: 70%;
    margin: auto;
    padding: 1.2rem 0rem;
    position: relative;
    margin-top: 1rem;
}
.canvas--max--value {
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    right: 50%;
    color: rgb(241, 95, 126);
    white-space: pre;
    transform: translate(50%, 0);
}

.dashboard--canvas--container {
    max-width: 78%;
    margin: auto;
}

.dashboard--canvas {
    width: 100%;
    margin: auto;
}

/* manage devices */

.managedevice--container {
    padding: 1rem;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 1rem 1rem;
    background-color: #ffffff;
}

#device--table {
    font-size: 0.9rem;
}

#ulthroughputMax {
    color: rgba(54, 162, 235, 1);
}

.backup--download--container {
    width: 100%;
}

.backup--download--link svg {
    width: 1.3rem;
    color: #0d6efd;
}
.backup--download--link svg:hover path {
    color: #2f208f;
}

.reset--page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
